// http://thesassway.com/beginner/how-to-structure-a-sass-project
@import 'partials/reset';
@import 'modules/all';
// @import 'partials/breakpoints-display';

body {
    background: $body-color;
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 1rem 2rem;
}

code { @include gradient($body-color); }
